:root {
    --primary: #f4ce14;
    --secondary: #495e57;
    --background: #edefee;
    --disabled: #bfbdb4;
    --banner-desc-color: white;
    --primary-font: "Karla", sans-serif;
    --secondary-font: "Markazi Text", serif;
    --main-title-size: 4em;
    --subtitle-size: 2.5em;
    --section-title-size: 2.7em;
    --card-title-size: 1.5em;
    --card-subtitle-size: 1em;
    --banner-gap: 3em;
    --description: 1em;
    /* First section */
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
